<section class="hero hero--about">
     <div class="container-width-xl">
       <div class="title-over-hero--centered">
         <h1>About The Orange Review</h1>
       </div>
       <nav class="nav-centered">
         <a href="#" class="active">About Us</a>
         <a href="#">Partners</a>
         <a href="#">Imprint</a>
       </nav>
     </div>
    </section>
    <section class="section-thanks-for-reading">
    <div class="container-width-m">
      <h2 class="h2 u--margin-btm-l">Thanks For Reading Our Publication</h2>
      <p>
      <span class="text-intro">Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    </section>
    <section class="section-team clearfix">
      <div class="container-width-xl">
        <h2 class="h2">Our Great Team</h2>
        <div class="bio--card">
          <img src="images/circle-8.jpg" height="111px" width="111px" class="bio--img">
          <h5 class="h5">Jeanette Grant</h5>
          <h4 class="h4">Associate Chief Officer</h4>
        </div>
        <div class="bio--card">
          <img src="images/circle-8.jpg" height="111px" width="111px" class="bio--img">
          <h5 class="h5"> Harriet Mills</h5>
          <h4 class="h4">Investor Ideation Architect</h4>
        </div>
        <div class="bio--card">
          <img src="images/circle-8.jpg" height="111px" width="111px" class="bio--img">
          <h5 class="h5">Ora Alvarez</h5>
          <h4 class="h4">Customer Ideation Producer</h4>
        </div>
        <div class="bio--card">
          <img src="images/circle-8.jpg" height="111px" width="111px" class="bio--img">
          <h5 class="h5">Emilie Barker</h5>
          <h4 class="h4">Chief Intelligence Advisor</h4>
        </div>
      </div>
    </section>
    <section class="section-trending">
      <div class="container-width-xl">
        <h2 class="h2 u--margin-btm-xxl">Trending Posts</h2>
        <div class="trending--card">
          <div class="trending--card-image">
          </div>
          <a href="#" class="h3">New Ideas For A Low Cost Vacation On Water</a>
          <h4 class="h4">19 May 2018</h4>
          <h4 class="h4"><a href="#">9 Comments</a></h4>
          <button>Read More</button>
        </div>
        <div class="trending--card">
          <div class="trending--card-image">
          </div>
          <a href="#" class="h3">New Ideas For A Low Cost Vacation On Water</a>
          <h4 class="h4">19 May 2018</h4>
          <h4 class="h4"><a href="#">9 Comments</a></h4>
          <button>Read More</button>
        </div>
        <div class="trending--card">
          <div class="trending--card-image">
          </div>
          <a href="#" class="h3">New Ideas For A Low Cost Vacation On Water</a>
          <h4 class="h4">19 May 2018</h4>
          <h4 class="h4"><a href="#">9 Comments</a></h4>
          <button>Read More</button>
        </div>
      </div>
    </section>
