<section class="hero hero--home">
      <div class="container-width-l">
        <div class="title-over-hero">
          <h4 class="u--margin-btm-s">Orange Review - Edition 1</h4>
          <h1>A Time Travel Postcard</h1>
          <p class="hero--text-s">Posted 19 May 2018</p>
          <p class="hero--text-s"><a href="#">3 Comments</a></p>
        </div>
      </div>
      <div class="hashtags-container hashtags-container--center">
        <button class="btn-hashtags">#Travel</button>
        <button class="btn-hashtags">#Personal</button>
        <button class="btn-hashtags">#Food</button>
        <button class="btn-hashtags">#Tagsforlikes</button>
      </div>
    </section>
    <section>
      <div class="container-width-l">
        <h2 class="article-title u--width-s">
          New Ideas For A Low Cost Vacation On Water
        </h2>
      </div>
    </section>
    <section class="article-section">
      <p>
        <%= image_tag("icon-logo.png", {width: "36", height: "36", class: "orange-drop-cap", alt: "Orange Review Logo"}) %>
        <span style="color: #fa9c35;">Lorem ipsum dolor sit amet,</span> consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut <a href="#">aliquip ex ea commodo
        consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </section>
    <aside class="quote-section">
      <div class="blockquote-section">
        <div class="blockquote">
          Ut soldales vitae ex a placerat. Donec sit amet felis ultricies nunc ornare voutpat id id purus. Nunc ac neque at felix fringilla.
        </div>
      </div>
    </aside>
    <section class="article-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    <section class="photo-section">
      <%= image_tag("image.png", {width: "765px", height: "515px", alt: "The streets of Nunc Ac Neque"}) %>
      <p class="caption">Nunc ac neque at felis fringilla rhoncus.</p>
    </section>
    <section class="article-section">
      <div class="container-width-m">
        <h5>Cruising destination ideas</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <hr class="hr--expanded">
        <ul>
          <li>The Kansas City Chiefs</li>
          <li>The Luxury Of Traveling With Yacht Charter Companies</li>
          <li>Get Around Easily With A New York Limousine Service</li>
          <li>Big Savings On Gas While You Travel</li>
        </ul>
        <hr class="hr--expanded">
        <div class="text-beside-ad">
          <h5>Five tips for low cost holidays</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia.
          </p>
        </div>
          <aside class="ad-beside-article">
            <div class="ad-beside-article-content">
              <p class="text-ad">
                Top Best List Of Restaurants At Your Destination
              </p>
              <button class="btn-ad">Learn More</button>
            </div>
          </aside>
      </div>
    </section>
