<section class="hero hero--blog">
  <div class="container-width-l">
    <div class="title-over-hero">
      <h4 class="u--margin-btm-s">Orange Review - Edition 1</h4>
      <h1>A Time Travel Postcard</h1>
        <p class="hero--text-s">Posted 19 May 2018</p>
        <p class="hero--text-s"><a href="#">3 Comments</a></p>
      <button class="btn-secondary-over-hero">Read More</button>
    </div>
  </div>
</section>
<main>
  <article class="white-bg-section">
    <div class="container-width-l">
      <div class="article-preview">
        <div class="article-preview--left-side">
          <%= image_tag("article-1.png", {width: "230px", height: "170px", class: "article-preview-img", alt: "boats at dock"}) %>
          <button class="btn-over-article-preview">Read More</button>
        </div>
        <div class="article-preview--right-side">
          <p class="hero--text-s">Posted 19 May 2018</p>
          <p class="hero--text-s"><a href="#">15 Comments</a></p>
          <h2 class="u--width-s u--margin-btm-m">
            <a href="#">New Ideas For A Low Cost Vacation On Water</a>
          </h2>
          <div class="hashtags-container">
            <button class="btn-hashtags">#Travel</button>
            <button class="btn-hashtags">#Personal</button>
            <button class="btn-hashtags">#Food</button>
            <button class="btn-hashtags">#tagsforlikes</button>
          </div>
        </div>
      </div>
    </div>
  </article>
  <section class="colored-BG-section">
    <div class="container-width-l">
      <div class="horizontal-ad horizontal-ad--steak">
        <p class="text-ad">Top Best List Of Restaurants At Your Destination</p>
        <div>
          <button class="horizontal-ad--btn">Learn More</button>
        </div>
      </div>
    </div>
  </section>
  <article class="white-bg-section">
    <div class="container-width-l">
      <div class="article-preview">
        <div class="article-preview--left-side">
          <%= image_tag("article-2.png", {width: "230px", height: "170px", class: "article-preview-img", alt: "Mountains of Maui"}) %>
          <button class="btn-over-article-preview">Read More</button>
        </div>
        <div class="article-preview--right-side">
          <p class="hero--text-s">Posted 20 May 2018</p>
          <p class="hero--text-s">
            <a href="#">11 Comments</a>
          </p>
          <h2 class="u--width-s u--margin-btm-m">
            <a href="#">Maui By Air The Best Way Around The Island</a>
          </h2>
          <div class="hashtags-container">
            <button class="btn-hashtags">#Travel</button>
            <button class="btn-hashtags">#Personal</button>
            <button class="btn-hashtags">#Food</button>
            <button class="btn-hashtags">#tagsforlikes</button>
          </div>
        </div>
      </div>
    </div>
  </article>
  <hr class="hr--thick">
  <article class="white-bg-section">
    <div class="container-width-l">
      <div class="article-preview">
        <div class="article-preview--left-side">
          <%= image_tag("article-3.png", {width: "230px", height: "170px", class: "article-preview-img", alt: "Plants growing in Erlenmeyer flask"}) %>
          <button class="btn-over-article-preview">Read More</button>
        </div>
        <div class="article-preview--right-side">
          <p class="hero--text-s">Posted 31 May 2018</p>
          <p class="hero--text-s"><a href="#">11 Comments</a></p>
          <h2 class="u--width-s u--margin-btm-m">
            <a href="#">Useful Travel Health Medical Information</a>
          </h2>
          <div class="hashtags-container">
            <button class="btn-hashtags">#Travel</button>
            <button class="btn-hashtags">#Personal</button>
            <button class="btn-hashtags">#Food</button>
            <button class="btn-hashtags">#tagsforlikes</button>
          </div>
        </div>
      </div>
    </div>
  </article>
  <section class="colored-BG-section">
    <div class="container-width-l">
      <div class="horizontal-ad horizontal-ad--dragonfruit">
        <p class="text-ad">40%<br>Off The Price Of A Dragonfruit</p>
        <div>
          <button class="horizontal-ad--btn">Learn More</button>
        </div>
      </div>
    </div>
  </section>
</main>
