<main class="main--search">
  <section class="container-width-l">
    <div>
      <h3>Search Orange Review</h3>
      <h5>By Keyword</h5>
      <div class="input-field u--margin-btm-l">
        <input id="Search" type="text" placeholder="A Time Travel...">
      </div>
      <h5>By Tag</h5>
      <hr class="hr--moresubtle">
      <div class="hashtags-container u--margin-btm-l">
      <button class="btn-hashtags">#Travel</button>
      <button class="btn-hashtags">#Personal</button>
      <button class="btn-hashtags">#Food</button>
      <button class="btn-hashtags">#medical</button>
      <button class="btn-hashtags">#ocean</button>
      <button class="btn-hashtags">#flying</button>
      <button class="btn-hashtags">#safety</button>
      <button class="btn-hashtags">#deals</button>
      </div>
      <button>Search</button>
    </div>
  </section>
</main>
